table,tr,th,td{
    background-color: crimson;
    border: solid black 1px;
    width: 300px;
}

th{
    background-color: purple;
}

td{
    background-color: blue;
}
/* .calebdario{
    color: blue;
} */